<%= javascript_tag "Nifty('div.modelo_barra_admin');" %>

<% @modelos.each do |modelo| %>
  <div class='modelo_barra_admin' id="<%= modelo.pluralize %>">
      <%= render :partial => "index_modelo_barra", :locals => {:modelo => modelo} %>
  </div>
<% end %>