<div id='general_admin'>
	<% javascript_tag do %>
	    NiftyLoad=function(){ Nifty("div.modelo_barra"); }
	<% end %>
    <% @modelos.each do |modelo| %>
      <div class='modelo_barra' id="<%= modelo.pluralize %>">
          <%= render :partial => "index_modelo_barra", :locals => {:modelo => modelo} %>
      </div>
    <% end %>
    
</div>


