<h1>Listing conceptos</h1>

<table>
  <tr>
  </tr>

<% @conceptos.each do |concepto| %>
  <tr>
    <td><%= link_to 'Show', concepto %></td>
    <td><%= link_to 'Edit', edit_concepto_path(concepto) %></td>
    <td><%= link_to 'Destroy', concepto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New concepto', new_concepto_path %>