<h3 class='container_title' id='related_object_title'>Relacionado</h3>
   <div class='related_object_container' >
       <h4>Concepto</h4>
       
       <p><i>Nombre: </i><%= concepto.nombre %></p>
       
       <div class='related_object_links'>
           <%= link_to "Atrás", :back %>
       </div>
   </div>