<h3 class='container_title' id='related_object_title'>Relacionado</h3>
<div class='related_object_container' >
    <h3>Servicio</h3>
    
    <p><i>Concepto de Servicio: </i><%= servicio.con_concepto %></p>
    <p><i>Categoría del Servicio: </i><%= servicio.con_categoria %></p>

    <p><i>Detalles: </i><%= servicio.detalles_ %></p>
    <div class='related_object_links'>
        <%= link_to "Atrás", :back %>
    </div>
</div>