<h3 class='container_title' id='related_object_title'>Relacionado</h3>
<div class='related_object_container' >
    <h4>Plaza</h4>
    
    <p><i>Nombre: </i><%= plaza.nombre %></p>
    
    <div class='related_object_links'>
        <%= link_to "Atrás", :back %>
    </div>
</div>