<h3 class='container_title' id='related_object_title'>Relacionado</h3>
<div class='related_object_container' >
    <h4>Incorporado</h4>
    
    <p><i>Detalles: </i><%=h incorporado.detalles %></p>
    <p><i>Costo: </i><%=h incorporado.costo_ %></p>
    <p><i>Vigencia: </i><%=h incorporado.vigencia %></p>
    
    
    
    <div class='related_object_links'>
        <%= link_to "Atrás", :back %>
    </div>
</div>