<div id="errores_servicio" class="errorExplanation" style="display:none"></div>

<!-- Inserts a whitespace on selector -->
<% @metaservicios.insert(0,Metaservicio.new) %>


<p>
   <%= label_tag :metaservicio, "Tipo de Servicio" %><br />
   <%= select_tag('servicio[metasubservicio_id]', option_groups_from_collection_for_select(@metaservicios, :metasubservicios, :nombre, :id, :nombre, 0), 
                  {:onchange => remote_function(:url => {:action => 'cambios_de_div'}, :with => "'id='+this.value")}) %>
</p>
  
<div id="conceptos_forma"></div>