<h3 class='container_title' id='form_title'>Modificar</h3>
<div class='form_container'>

<div class='form'>
<% form_for(@servicio) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'compartidos/form_reuse', :locals => {:obj => @servicio, :f => f} %>

  <p>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>

</div>


<%= render :partial => 'compartidos/edita_form_links', :locals => {:obj_editable => @servicio, :modelo => "servicio" } %>
</div>
