<h3 class='admin_modelo_titulo'>Plaza</h3>
<div class='container_admin'>
    
    <div class='form'>

    <% form_remote_for(@plaza) do |f| %>
    
        <%= render :partial => "form_plaza", :locals => {:f => f, :estados => @estados} %>
        
        <p>
          <%= f.submit 'Crear' %>  | <%= link_to_remote "Cerrar", 
                                            :url => {:controller => 'administraciones', :action => 'restaura_modelo_barra'},
                                            :with => "'modelo=#{modelo}'" %>
        </p>
    <% end %>

    </div>
</div>