<h3 class='container_title' id='form_title'>Nuevo</h3>
<div class='form_container'>
    
<div class='form'>

<% form_for(@incorporado) do |f| %>
    <%= f.error_messages %>
    
        <%= render :partial => 'form_edit_new', :locals => {:f => f}%>
    
        <p>
          <%= f.submit 'Crear' %>
        </p>
    <% end %>

</div>

<%= render :partial => 'compartidos/nuevo_form_links', :locals => {:modelo => "incorporado"} %>

</div>