<h3 class='admin_modelo_titulo'>Paquete</h3>
<div class='container_admin'>
    
    <div class='form'>

<% form_remote_for(@paquete) do |f| %>

  <%= render :partial => 'form_paquete', :locals => {:f => f, :plaza => @plaza, :zonas => @zonas} %>
  <p>
    <%= f.submit 'Crear' %> | <%= link_to_remote "Cerrar", 
                                          :url => {:controller => 'administraciones', :action => 'restaura_modelo_barra'},
                                          :with => "'modelo=#{modelo}'" %>
  </p>
<% end %>
</div>

</div>