<% @obj = @plaza if @obj.nil? %>

<% hash=@obj.to_hashed_html(1) %>
<div class='show_container'>
    <%= render :partial => 'compartidos/modelo_info_comun', :locals => {:hash => hash, :obj => @obj} %>


    <div class='form_links_container'>
        <p class='inlined' id='regresar'>Regresar a:</p>
        <p class='inlined'><%= link_to 'Paquetes', paquetes_path %></p>
        <p class='inlined'><%= link_to 'Modificar', edit_paquete_path(@obj) %></p>
        <p class='inlined'><%= render :partial => 'compartidos/link_to_admin' %></p>
    </div>
</div>