pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h2 a { font-size:20px; color:#53475D;}


input.boton_justificado {
  margin-left: 20px;	
  margin-bottom: 20px;
}

.modelo_barra {
  width: 1000px;
  margin-bottom: 15px;
  background-color: #CEBBDC;
}

#contenedor_izq_admin {
  display: inline-block;
  margin: 10px 0px 5px 0px;
  width: 800px;
  float:left;
}

#contenedor_der_admin {
  display: inline-block;
  margin: 10px 0px 5px 0px;
  width: 395px;
  float: right;
}

#migracion {
  background-color:#FFAB60;	
}

#logger {
  background-color:#FF6B30;	
}

.bloque {
 margin-left: 5px;
}

.bloque h4 {
 margin-top:5px;
 margin-bottom: 10px;
 text-align: center;
}

.bloque div {
 background-color:#EC9F59;	
 margin: 5px;
 padding: 5px;
}

.modelo_relacionado_admin {
  width: 500px;
  padding: 7px;
  margin-bottom: 10px;
  background-color: #A9F3A7;
}

.listing_container p {
  font-size: 12px;
  padding:0px;
  margin:0px;
}

.listing_container a {
  color:#D0B504;
}



/*
* Estilos para tabla de instancias de modelo administrador action :index
*/

.generica {
	width:780px; 
	border-color:#675569;
}

.generica tr th {
	font-size:11px;
	font-weight:bold;
	color:#A798C3;
}

.generica tr td {
	font-size:10px; 
	text-align:center;
	width: 200px;
	
}

.generica tr:hover {
	background-color:#9692C0;
}

.tabla_interior {
	padding: 10px;
	margin: 10px;
	background-color:#DBBFE7;
}

/*
* Estilos para contendor de modelo administrador action :index
*/

.admin_modelo_titulo {
  margin-top:10px;
  text-align: center;
}

.container_admin {
	background-color:#e7d8f6;
	margin: 7px;
	padding-top: 10px;	
	padding-bottom: 10px;
}

.container_title {	
	padding: 5px;
	text-align: center;
}

.cerrar {
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  right: 40px;

}


/* estilos para listado de categorias y servicios de plaza*/


#plaza_info {
  background-color:#D5D1EE;
  width: 250px;
  padding:10px;	
  margin-bottom: 10px;
}

#plaza_info h3 {
  padding-top: 4px;
  color:#888598;	
}

/* estilos generales en la aplicación */

#container {
  margin-top:30px;
  position: relative;
}

#form_title {
	width: 100px;
	background-color:#657d64;
	margin-left: 375px;
	color: #d1ffcc;
}

#listing_title {
	margin:left;
	width: 130px;
	background-color:#E3E71E;
	color: #EEFFD3;
}

.listing_container {
	background-color: #E4E78D;
	padding: 15px;
}

.attributes_of_related {
	background-color: #EEFFD3;
	padding: 10px;
	margin-top: 3px;
}

.listing_controls {
	margin-top:15px;
}



/*
* Estilos relacionados a la tabla
*/

#listing_title_for_table {
	margin:left;
	width: 130px;
	background-color:#E77864;
	color: #FFD8C4;
}

.attribute_name_table {
	font-size: 12px;
	padding: 2px;
}

#a_name1 {
	background-color:#506650;
	color:#B9CFA3;
}

#a_name2 {
	background-color:#B9CFA3;
	color:#506650;
}

.attribute_value_table {
	font-size: 11px;
	text-align: center;
	padding-right: 14px;
	padding:10px;
	max-width: 130px;
}

#a_value1:hover {
	background-color:#CDDAA9;
}

#a_value2:hover {
	background-color:#819274;
}

#a_value1 p {
	font-size: 10px;
}

#a_value1:hover a {
	font-size: 10px;
	color: #fff;
}


/* paginacion */

.pagination{
	margin-top: 10px;
	background-color:#E0E24E;
	padding: 5px;
	text-align: center;
	margin-bottom:10px;
	width: 250px;
}

.pagination_form {
	margin-left: auto;
	margin-right: auto;
}

.pagination_form .current {
	background-color:#9AB289;
	padding: 5px;
	margin: 2px;
}

.pagination_form a {
	background-color:#C8E7B2;
	padding: 5px;
	margin: 2px;	
}

/* formularios */

.form_opcion {
	background-color:#A6C090;
	width:300px;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	font-size:10px;
	padding:8px;
}

.categoria_form {
	background:#607560;
	padding: 5px;
}

.margen_a_doce{
	margin-top: 12px;
}

.aclaracion {
	font-size:9px;
	border: 1px solid #CBB8DF;
	width: 350px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	padding-left: 10px;
}

table.aclarativa td {
	font-size:9px;
	padding:5px;
}