/*
	  Autor: Alejandro Eduardo Cruz Paz : 2009
	  CSS para los divs mas externos de la aplicación
	  
*/

* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}

#wrapper { 
 margin: auto;
 width: 1000px;
}

.header {
 margin: 10px 0px 5px 0px;
 display:inline-block;
}

.header p{ 
	color: #000;
	font-weight: 100;
	text-align: center;
}

#leftH {
	width: 360px;
	background-color: #9dd4ff;
}

#rightH {
	width: 620px;
	background-color: #3D6AAB;
}

#rightH p{color:#ffffff;}

#sesion{
	background-color: #E6FBA5;
	margin: 10px 0px 5px 0px;
	width: 360px;
}

.form {
	margin: 10px;
	text-align:center;
}

.form p {
	font-size:12px;
	margin-top:13px;
}

p {
	padding: 5px; 
	font-size: 10pt;
}

#content { 
 width: 900px;
 padding: 10px;
 height: 350px;
}