/*
* Estilos para controller: tablero
*/

/* búsqueda */

body { background-color: #1C1B3D; color: #333; }


#barra_de_informacion_de_plaza {
  background-color:#ACBFED;
}

#barra_de_busqueda {
  padding: 10px;
  width: 405px;
  margin-bottom: 5px;
  color:#6A7BAA;
}

#barra_de_busqueda #query {
	border: 0;
	font-size:18px;
	background-color:#C7CEE4;
	color:#41509B;
	margin-left:5px;
	margin-right:5px;
} 

#selector_de_estados {
  background-color:#ED9635;
  padding:10px;
  padding-top: 12.5px;
  padding-bottom:12.5px;
  width: 750px;
}

.enfasis_en_selector {
  font-weight: bold;
  background-color:#FFA03A;	
  padding: 5px;
  margin-right: 5px;
}

#resultados_contenedor {
  width: 1200px;
  margin-top: 10px;
}

#resultados {
  width: 1180px;
  background-color:#000;
  text-align:center;
  color:#F2C44E;
  padding: 10px;
}

.resultado h4 {
  background-color:#0D0D27;	
  color:#F2C44E;
  padding: 10px;
  padding-left: 15px;
  width: 100px;
  text-align:center;
}

#cuenta_resultados {
  width: 800px;
  background-color:#000;
  padding: 5px;
  padding-left: 15px;	
}

.boton_derecha {
  display: inline;
  position: absolute;
  right: 35px;	
}

.modelo_barra_encargado {
  width: 1200px;
  margin-bottom: 15px;
  background-color: #6F75F8;
}

#contenedor_cambiante {
  position:relative;
  margin-top:30px;
  width: 980px;
  margin-bottom: 50px;
}

#detallados_contenedor {
  position:relative;
  margin-top:30px;
  width: 980px;
}

#listado_de_preservicios {
  width: 1200px;
  margin-bottom: 15px;
  background-color: #ee7538;
}

#preservicio {
  margin-left:10px;
  background-color:#FF8449;
  padding:5px;
}

.titulo_en_agente {
  background-color:#93B3F6;
  padding: 5px;
  width:80px;
  text-align: center;
}

.empty {
  width: 500px;
  background-color: #CBCBCB;
  margin:20px;
  padding: 10px;
  margin-left:0px;
  text-align:center;
}

.empty p {
  font-size:2em;
  color:#7F82A3;
}

/* Encargado container */

#barra_estado_plaza_actual {
  width: 1200px;
  margin-top:5px;
  margin-bottom: 15px;
  background-color: #EEB558;
}

.agente_paquetes {
	width:1200px;
	margin-top:10px;
	margin-bottom:30px;
}

.agente_paquetes tr th {
	color:#D26C40;
	width: 200px;
	height:10px;
	font-size:11px;
}

.agente_paquetes tr td {
	font-size: 11px;
	color:#974F2A;
	text-align: center;
}

/*
* Estilos para tabla de instancias de servicios bajo usuario agente
*/

.agente_servicios {
	width:1200px;
}

.agente_servicios tr th {
	color:#899242;
	width: 200px;
	background-color:#e3f470;
	height:10px;
}

tr.servicio_distingible:hover {
	background-color:#3a3883;
}

tr.paquete_distingible:hover {
	background-color:#2C3069;
}

.agente_servicios tr td {
	font-size:11px;
	text-align:center;
	width: 200px;
	background-color:#4D5B8A;
	color:#B5CDEB;
}

#cabecera_agente_servicios {
	margin-top:10px;
	margin-bottom:5px;
	width: 1200px;
	margin-left:-2px;
}

.agente_servicios_conceptos {
	margin-bottom: 5px;
	width:1200px;
}

.agente_servicios_conceptos tr th {
	font-size:11px;
	width: 500px;
	color:#708DB8;
}

.agente_servicios_conceptos tr td {
	font-size:12px;
	text-align:center;
	color:#99C0FF;
}

.contenedor_servicios_conceptos {
	border:1px solid #5F73B5;
	width: 1200px;
	margin-bottom: 10px;
}

.encargado_modelo_titulo {
	color:#10083A;
	padding: 10px;
	text-align:center;
}

table.generica_encargado {
	margin-left:auto;
	margin-right:auto;
	width:1100px;
}

table.generica_encargado tr {
	padding:10px;
}

table.generica_encargado th {
	font-size:10px;
	text-align:center;
	
}

table.generica_encargado td {
	font-size:10px;
	padding-left: 10px;
	text-align:left;
}

table.generica_encargado tr:hover {
	background-color:#00052D;
	color:#A1A1FA;
	padding:10px;
}

table.generica_encargado tr:hover td a{
	color:#FEFFFF;
}

table.entrada_encargado {
	margin-left:auto;
	margin-right:auto;
	width:1100px;
}

table.entrada_encargado tr {
	padding:10px;
}

table.entrada_encargado th {
	font-size:10px;
	text-align:center;
}

table.entrada_encargado td {
	font-size:10px;
	padding-left: 10px;
	text-align:center;
}

table.entrada_encargado tr:hover {}

h2 a { font-size:20px; color:#B8B9FB;}

h4 { color:#B8B9FB;}

#contenedor_conceptos {
	padding-top:10px;
	padding-bottom:10px;
	border: 1px solid #8A8AF9;
	width:1100px;
	margin-left:auto;
	margin-right:auto;
}

#detalles_usuario {
	width: 500px;
	background-color:#6B5BF7;
	padding:15px;
	color:#D1C8FC;
}

#detalles_usuario h4 {
	color:#B7A5FA;
	text-align: center;
}

#detalles_usuario p {
	font-size: 10px;
}

.mensaje_c {
	width:530px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.mensaje_c p {
	font-size: 13px;
	text-align: center;
}

#mensaje_bien {
	background-color:#90B724;
}

#mensaje_mal {
	background-color:#DF5850;
}

p.mensaje_error {
	color:#DB3027;
	font-weight:bold;
}


