/*
* Estilos para controller: tablero
*/

/* búsqueda */

body { background-color: #1C1B3D; color: #333; margin: 0; padding: 0; height: 100%;}


#barra_de_informacion_de_plaza {
  background-color:#ACBFED;
}

#barra_de_busqueda {
  padding: 10px;
  width: 305px;
  margin-bottom: 5px;
  color:#6A7BAA;
  margin:10px;
}

#barra_de_busqueda #query {
	border: 0;
	font-size:18px;
	background-color:#C7CEE4;
	color:#41509B;
	margin-left:5px;
	margin-right:5px;
} 

#zona_seleccionada {
	margin-left: 20px;
}

#selector_de_estados {
  background-color:#3F3F9E;
  margin: 10px;
  padding:10px;
  padding-top: 12.5px;
  padding-bottom:12.5px;
  width: 600px;
  color:#6A7BAA;

}

.enfasis_en_selector {
  font-weight: bold;
  background-color:#4748BC;	
  padding: 5px;
  margin-right: 5px;
}

#resultados_contenedor {
  width: 1200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#tabla_informativa_resultados {
  width: 1200px;
  color:#7072CD;
  text-align:center;
  margin-top: 10px;
}

#tabla_informativa_resultados td { 
  width: 50%;
  padding: 10px;
}


#leyenda_resultado {
  font-weight: bold;
}

#cuenta_resultados {
  padding: 10px;
  background-color: #2B2A51;	
}

#cuenta_resultados a {
  color: #99474A;
}

#resultados {
  width: 1180px;
  background-color:#1d1c45;
  text-align:center;
  color:#D1D2F2;
  padding: 10px;
}

.resultado h4 {
  background-color:#0D0D27;	
  color:#F2C44E;
  padding: 10px;
  padding-left: 15px;
  width: 100px;
  text-align:center;
  margin-top: 10px;
}

.resultado ul {
	margin-left: 30px;
	margin-top:5px;
	margin-bottom:10px;
}

.resultado ul li {
	color:#ACBCBA;
}

.boton_derecha {
  display: inline;
  position: absolute;
  right: 35px;	
}

.modelo_barra_encargado {
  width: 1200px;
  margin-bottom: 15px;
  background-color: #383381;
  color: #717EA1;
}

#contenedor_cambiante {
  position:relative;
  margin-top:30px;
  width: 980px;
  margin-bottom: 50px;
}

#detallados_contenedor {
  position:relative;
  margin-top:30px;
  width: 980px;
}

#listado_de_preservicios {
  width: 1200px;
  margin-bottom: 15px;
  background-color: #ee7538;
}

#listado_de_prepaquetes {
  width: 1200px;
  margin-bottom: 15px;
  background-color: #ee7538;
}

#preservicio {
  margin-left:10px;
  background-color:#FF8449;
  padding:5px;
}

.titulo_en_agente {
  background-color:#6E85BA;
  padding: 5px;
  width:80px;
  text-align: center;
}

.empty {
  width: 500px;
  background-color: #CBCBCB;
  margin:20px;
  padding: 10px;
  margin-left:0px;
  text-align:center;
}

.empty p {
  font-size:2em;
  color:#7F82A3;
}

/* Encargado container */

#barra_estado_plaza_actual {
  width: 1200px;
  margin-top:5px;
  margin-bottom: 15px;
  background-color:#E39C3D;
  color:#FFF4BF;
}

.agente_paquetes_o_coberturas {
	width:1200px;
	margin-top:10px;
	margin-bottom:30px;
}

.agente_paquetes_o_coberturas tr th {
	color:#D26C40;
	width: 200px;
	height:10px;
	font-size:11px;
}

.agente_paquetes_o_coberturas tr td {
	font-size: 11px;
	color:#974F2A;
	text-align: center;
}

/*
* Estilos para tabla de instancias de servicios bajo usuario agente
*/

div.agente_servicios p span.t {
	color:#686499;
	font-weight: bold;
	font-size: 13px;
}

div.agente_servicios p span.n {
	color:#9491E6;
	font-size: 13px;
}

div.agente_servicios p span.p {
	font-size: 13px;
	color:#F5A325;	
}


#cabecera_agente_servicios {
	margin-top:10px;
	margin-bottom:5px;
	width: 1200px;
	margin-left:-2px;
}

#agente_servicios_conceptos {
	width: 1200px;
}

div#agente_servicios_conceptos table.concepto_tabla tr {
	padding: 10px;
}

div#agente_servicios_conceptos table.concepto_tabla td.nombre_metaconcepto {
	text-align: left;
	padding: 10px;
	color:#757799;
	width: 900px;
}

div#agente_servicios_conceptos table.concepto_tabla td.valor_numerico {
	font-size: 17px;
	font-weight: bold;
	color:#757799;
	width: 100px;
}

div#agente_servicios_conceptos table.concepto_tabla td.cantidad_numerica {
	font-size: 17px;
	font-weight: bold;
	color:#A7AFEA;
	width: 70px;
}

.concepto_tabla tr th {
	color:#9892C1;
	text-transform: uppercase;
	font-size: 10px;
}

.concepto_tabla th.nombre_metaconcepto {
	width: 900px;
}

.concepto_tabla th.valor_numerico {
	width: 100px;
}

.concepto_tabla th.cantidad_numerica {
	width: 70px;
}

div.comentario_container_concepto {
	width: 900px;
	margin-left: 20px;
}

p.concepto_comentario a {
	color:#995F3A;
	font-weight: normal;
	font-size: 10px;
}

.contenedor_servicios_conceptos {
	border: 1px solid #444263;
	width:1200px;
}

.contenedor_servicios_conceptos p { 
	text-align: left;
	font-size: 10px;
	font-weight: bold;
	color:#807fa8;
	padding-left: 20px;
}

.s {
	background-color:#222751;
}

.encargado_modelo_titulo {
	color:#10083A;
	padding: 10px;
	text-align:center;
}

table.generica_encargado {
	margin-left:auto;
	margin-right:auto;
	width:1100px;
}

table.generica_encargado tr {
	padding:10px;
}

table.generica_encargado th {
	font-size:10px;
	text-align:center;
	
}

table.generica_encargado td {
	font-size:10px;
	padding-left: 10px;
	text-align:left;
}

table.generica_encargado tr:hover {
	background-color:#00052D;
	color:#A1A1FA;
	padding:10px;
}

table.generica_encargado tr:hover td a{
	color:#FEFFFF;
}

table.entrada_encargado {
	margin-left:auto;
	margin-right:auto;
	width:1100px;
}

table.entrada_encargado tr {
	padding:10px;
}

table.entrada_encargado th {
	font-size:10px;
	text-align:center;
}

table.entrada_encargado td {
	font-size:10px;
	padding-left: 10px;
	text-align:center;
}

table.entrada_encargado tr:hover {}

h2 a { font-size:20px; color:#B8B9FB;}

h4 { color:#B8B9FB;}

#contenedor_conceptos {
	padding-top:10px;
	padding-bottom:10px;
	border: 1px solid #8A8AF9;
	width:1100px;
	margin-left:auto;
	margin-right:auto;
}

p.mensaje_error {
	color:#DB3027;
	font-weight:bold;
}

.plaza_titulo {
	padding: 5px;
	color:#99A9CE;
	background-color:#3C406A;
}

#container {min-height:100%;}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:fixed;
   bottom:0;
   height:60px;   /* Height of the footer */
   width: 100%;
   background-color:#262664;
}

.in_footer {
	background-color:#2E2A69;
	width: 1100px;
 	margin-left: auto;
	margin-right: auto;
	
}

#resultados a {
	font-size: 12px;
	color:#FF6D46;
}

.s:hover, .n:hover {
	background-color:#23233D;
}

.amigable {
	position: absolute;
	margin-bottom: 10px;
	margin-left: 100px;
}
