<h3 class='admin_modelo_titulo'>Metaconcepto</h3>
<div class='container_admin'>
    
    <div class='form'>
        <% form_remote_for(:metaconcepto, @metaconcepto, :url => metaconcepto_path(@metaconcepto), 
                           :html => {:method => :put}) do |f| %>

          <%= render :partial => "form_metaconcepto", :locals => {:f => f, :tipos => @tipos} %>

          <p>
            <%= f.submit 'Guardar cambios' %>   | <%= link_to_remote "Cerrar", 
                                              :url => {:controller => 'administraciones', :action => 'restaura_modelo_barra'},
                                              :with => "'modelo=#{modelo}'" %>
          </p>
        <% end %>
    </div>
</div>