<div id="errores_metaconcepto" class="errorExplanation" style="display:none"></div>

<p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
</p>

<p>
    <%= f.label :tipo %><br />
    <%= f.select :tipo, tipos, :include_blank => true %>
</p>
  
  