<div id="errores_metaconcepto" class="errorExplanation" style="display:none"></div>

<p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
</p>

<p>
    <%= f.label :tipo %><br />
    <%= f.select :tipo, tipos, :include_blank => true %>
</p>

<div id="aclaracion">
<span>Tipo <b>A</b> genera una entrada adecuada para introducir costos</span><br/>
<span>Tipo <b>B</b> genera una entrada adecuada para introducir valores unitarios</span>
</div>