<h1>Listing metaconceptos</h1>

<table>
  <tr>
  </tr>

<% @metaconceptos.each do |metaconcepto| %>
  <tr>
    <td><%= link_to 'Show', metaconcepto %></td>
    <td><%= link_to 'Edit', edit_metaconcepto_path(metaconcepto) %></td>
    <td><%= link_to 'Destroy', metaconcepto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New metaconcepto', new_metaconcepto_path %>