<h3>Sección no disponible aún</h3>

<p><%= link_to_remote "Cerrar", 
                                      :url => {:controller => 'administraciones', :action => 'restaura_modelo_barra'},
                                      :with => "'modelo=#{modelo}'" %></p>