<h3 class='admin_modelo_titulo'>Usuario</h3>
<div class='container_admin'>
    
<div class='form'>
    <div id="errores_usuario" class="errorExplanation" style="display:none"></div>
    
<% form_remote_for(:usuario, @usuario, :url => usuario_path(@usuario), :html => {:method => :put}) do |f| -%>
    
    <%= render :partial => "form_usuario_administrador", :locals => {:f => f} %>

    <div id="usuario_estado_form">
        <% if !@usuario.no_tiene_rol && @usuario.es_encargado? %>    
            <%= render :partial => "usuario_estado_form", :locals => {:estados => @estados, :plazas => @plazas} %>
        <% end %>
    </div>

    <p><%= submit_tag 'Actualizar' %> | <%= link_to_remote "Cerrar", 
                                          :url => {:controller => 'administraciones', :action => 'restaura_modelo_barra'},
                                          :with => "'modelo=#{modelo}'" %></p>
<% end %>

</div>