<h3 class='admin_modelo_titulo'>Usuario</h3>
<div class='container_admin'>
    
<% @usuario.password = @usuario.password_confirmation = nil %>
<div class='form'>
    <div id="errores_usuario" class="errorExplanation" style="display:none"></div>
    
<% form_remote_for(@usuario) do |f| -%>

<%= render :partial => "form_usuario_administrador", :locals => {:f => f} %>

<div id="usuario_estado_form">
    <% unless @usuario.no_tiene_rol %>    
        <%= render :partial => "usuario_estado_form", :locals => {:estados => @estados} %>
    <% end %>
</div>

<p><%= submit_tag 'Registrar' %> | <%= link_to_remote "Cerrar", 
                                      :url => {:controller => 'administraciones', :action => 'restaura_modelo_barra'},
                                      :with => "'modelo=#{modelo}'" %>
</p>
<% end -%>
</div>


</div>