<p><%= label_tag 'estado'%><br/>
    <%= select_tag :estado, options_from_collection_for_select(estados.insert(0, Estado.new), :id, :nombre), 
                   {:onchange => remote_function(:url => {:action => 'estado_a_plaza'}, :with => "'estado_id='+this.value")} 
    %>
</p>

<div id="usuario_plaza_form">
    <% if instance_variable_defined?("@usuario") and !@usuario.no_tiene_rol %>
        <%= render :partial => "usuario_plaza_form", :locals => {:plazas => @plazas} %>
    <% end %>
</div>
