<%= javascript_tag "Nifty('h2.container_title','top');Nifty('div.panel-izquierdo-tablero', 'tr bottom');
                    Nifty('div.tarea-izquierda-tablero'); Nifty('div.atributo_en_panel', 'tl br');
                    Nifty('div.tarea-anidada-izquierda-tablero');" %>
<div id='general-panel'>
<h2 id='titulo_del_panel' class='container_title'>Plaza</h2>
<div class='panel-izquierdo-tablero'>

<div class='atributo_en_panel'><p><b>Estado: </b><%= @plaza.estado.nombre %></p></div>    
<div class='atributo_en_panel'><p><b>Nombre: </b><%= @plaza.nombre %></p></div>
<% if logged_in_on?("nivel 2") %>
    <%= button_to "Asignar Paquetes y Servicios", edit_plaza_path(@plaza) , :method => :get, :class => "boton_justificado" %>
<% end %>
</div>
<br/>
<br/>

<h3>Tiene:</h3>
<br>

</div>

<div id='tablero-recargable'>
    
</div>