<% if @metaservicios.empty? %>
    <div id='preservicio'><h3>El catálogo no ha sido llenado aún</h3></div>
<% else %>
    <% @metaservicios.each do |m| %>
        <div id='preservicio' class='inlined'>
            <%= link_to_remote "#{m.nombre}", :url => {:controller => 'tableros', :action => 'metaservicio_seleccionado', :id => m.id} %>
        </div>
    <% end %>
<% end %>