<%= javascript_tag "Nifty('div.pagination');" %>

<div id='listado_de_estados_contenedor' class='inlined'>
  <span id='titulo_en_contenedor'><b>Selecciona un estado y una plaza: </b></span>
  &nbsp;
  <b>Estado </b>

  <%= collection_select(:estado, :id, @estados, :id, :nombre,{:include_blank => true }, :onchange => remote_function(
                        :update => 'selector_de_plaza',
                        :url => { :action => :estado_seleccionado}, 
                                  :with => "'id='+this.options[this.selectedIndex].value")) %>
   &nbsp;&nbsp;
  <b>Plaza </b>
  <div id='selector_de_plaza' class='inlined'>
    <%= render :partial => 'selector_de_plaza' %>
  </div>
</div>

