<%= javascript_tag "Nifty('#lista_de_servicios_categoria');" %>

<% if @incorporados.size > 0 %>
<div id='lista_de_servicios_categoria'>
    <% @incorporados.each do |incorporado| %>
        <div class='incorporado'>
            <b><%=h incorporado.servicio.concepto.nombre %>: </b>
            <%=h incorporado.costo_ %>
        </div>
        <%= button_to_remote "Más Detalle", :url=> {:controller => :busquedas, :action => :detalle, :id => incorporado.id},
                                            :with => "'tipo='+'Especializado'" %>
    <% end %>
</div>

<% end %>