<div id='general_admin'>

	<div class='informativa_barra'>
	    <p align="center"><span class="plaza_nombre"><%= @plaza.nombre %></span> <b>en</b> <%= @plaza.estado.nombre %></p>
	</div>
	
    <%= render :partial => "administraciones/modelo_barras" %>
    
</div>