<% if logged_in_on?("nivel 3") %>

    <div id='listado_de_plazas_contenedor_intercambiable'>
        <%= render :partial => 'lista_de_plazas', :object => @plazas %>
    </div>

    <div id='plaza_area_contenedor'></div>
<% else %>    
    <%= render :partial => 'contenido_para_nivel_dos_y_tres', :object => @plaza %>
<% end %>

