<% content_for :busqueda do %>
    <% form_remote_tag :url => {:controller =>:busquedas, :action => :inicial}, 
                                :update => 'area_de_resultados',
                                :complete => visual_effect(:appear, 'area_de_resultados') do -%>
    <table>
        <tr>
            <td><b>Búsqueda: </b></td>
            <td><%= text_field_tag 'query', '', :size => 20 %></td>
            <td><%= submit_tag 'Buscar' %></td>
        </tr>
    </table>
    <% end -%>
<% end %>

<div id='area_de_resultados'></div>

<div id='detallados_contenedor'></div>

<% content_for :selector_de_estados do %>
    <%= render :partial => 'lista_de_estados' %>
<% end %>

<div id='contenedor_cambiante' style="display:none;"></div>


