<div id='usuario_config_anuncios'></div>
<div id='usuario_config'></div>

<%= informa_estado_de_contrasena %>

<div id='barra_estado_plaza_actual'>
    <p align="center"><span class="plaza_nombre"><%= @plaza.nombre %></span> <b>en</b> <%= @plaza.estado.nombre %></p>
</div>

<%= render :partial => "encargado_modelo_barras" %>
    
